@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');

     *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    

    :root{
        --primary:var(#161312);
        --secondary:var(#6c6d75);
        --third:var(#EBEBEB);
        --fourth:var(#9f191f);
    }

    html{
        scroll-behavior: smooth;  
    }


    body{
        font-family: 'Open Sans', sans-serif;
    }

    nav{
        width: 100%;
        background-color: #363636;
        display: flex;
        height: 40px;
    }

    nav ul{
        width: 50%;
        display: inherit;
        list-style-type: none;
        align-items: center;
        justify-content: space-around;
    }

    nav ul li a{
        color: #EBEBEB;
        text-decoration: none;
        font-weight: 500;
    }

    a:hover{
        text-decoration: underline;
    }

    .presentation{
        height: 100vh;
        background-image: url(img/smano.jpg);
        background-position: center;
        background-size: cover;
        color: #EBEBEB;
        display: flex;
        
    }

    .text-presentation{
        text-align: center;
        display: inline-block;
        padding: 0 20px;
        margin: auto;
        max-width: 850px;
    }

    .text-presentation h1{
        margin-bottom: 0.625rem;
        font-size: 2.25rem;
    }

    .text-presentation h2{
        font-size: 1.6rem;
        margin-bottom: 0.6rem;
    }

    .text-presentation p{
        font-size: 1.25rem;
    }

    .intro{
        background-image: url(img/jumping.jpg);
        background-position: top;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .intro-content{
        color: #fff;
        text-align: center;
        max-width: 800px;
        
    }

    .intro-content h1{
        transform: skewX(170deg);
        font-size: 2rem;
        margin: 40px 0 20px 0;
    }

    .intro-content h2{
        font-size: 1.6rem;
        margin: 0 0 20px 0;
    }

    .intro-content p{
        font-size: 1.20rem;
    }

    .inside-intro{
        margin: auto;
    }

    #standout{
        margin: 90px 0;
        font-weight: bold;
        font-size: 1.30rem;
    }

    .about{
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
    }

    .about-text h1{
        margin: 24px 0;
        font-size: 1.8rem;
    }

    .about-text p{
        font-size: 1.25rem;
        margin: 20px auto;
        padding: 0 10%;
        text-align: justify;
    }

    .about-text p::selection{
        background-color: #c0252d;
        color:#fff;
    }

    .btn-subscribe{
        background-color: #c0252d;
        padding: 15px 10px;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        display: inline-block;
    }

    .btn-subscribe:hover{
        text-decoration: solid;
        background-color: #b91a22;
    }

    .copyright{
        background-color: #161312;
        text-align: center;
        color: #fff;
        padding: 10px;
    }

    .copyright a{
        color: #fff;
        text-decoration: none;
    }

    .copyright a:hover{
        text-decoration: underline;
    }

   /* Media Queries */
  

    @media (max-width: 768px){
        nav{
            justify-content: center;
            font-size: 1.2rem;
        }

        nav ul{
            width: 100%;
            justify-content: space-evenly;
            margin-left: 0;
        }
}

   @media (max-width: 500px){
        nav{
            justify-content: center;
            font-size: 1.1rem;
        }

        nav ul{
            width: 100%;
            justify-content: space-evenly;
            margin-left: 0;
        }

        .about{
            background-color: white;
            text-align: center;
            padding: 5px auto;

        }

        .intro{
            background-image: url(img/sjumping.jpg);
            background-position: left;
            background-size: cover;
        }
        .intro-content p{
            font-size: 1.1rem;
        }

        .about-text p{
            font-size: 1.1rem;
            margin: 20px auto;
            padding: 0 15px;
            text-align: justify;
            line-height: 1.7;

        }

        .btn-subscribe{
            font-size: 1.1rem;
        }
}

    @media (max-width: 320px){
        nav ul li, footer, .about-text, .intro p{
            font-size: 1rem;
        }

        .intro{
            background-image: url(img/sjumping.jpg);
            background-position: left;
            background-size: cover;
        }

        .btn-subscribe{
            font-size: 1.1rem;
        }
    }
